.default-color0.chart-series-area-line { -fx-stroke: #1828e9; }
.default-color1.chart-series-area-line { -fx-stroke: #0BC5F0; }
.default-color2.chart-series-area-line { -fx-stroke: #06dd17; }
.default-color3.chart-series-area-line { -fx-stroke: #e9e200; }
.default-color4.chart-series-area-line { -fx-stroke: #f07000; }
.default-color5.chart-series-area-line { -fx-stroke: #dd0004; }